BOT_TOKEN=ISI_BOT_TOKEN
AUTHORIZED_CHAT_ID=123456789
AUTHORIZED_CHAT_ID2=123456789
AUTHORIZED_CHAT_ID3=123456789

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_SENDER=emailkamu@gmail.com
EMAIL_PASSWORD=APP_PASSWORD_GMAIL